{% extends 'portfolio/base.html' %}

{% load static %}


{% block title %}Portafolio{% endblock %}


{% block content %}
<div class="containerSobreMi">
    <h5 class="sobreMi">Estudié Ing. Electrónica hasta
        3er año. Me gané una beca del
        banco Santander para realizar
        un curso de full stack
        developer en el ITBA, al realizar
        el curso me di cuenta de que lo
        que me gusta es la
        programación. Desde entonces
        me estoy formando para el
        desarrollo Frontend con el
        objetivo de ser Full Stack
        Developer.</h5>
    
        <div class="desc">
            <a download="CV-Lautaro Vittore" href="{% static 'portfolio/cv/cv.pdf' %}" class="descargarCV">Descargar CV</a>
        </div>

        
            <div id="SkillBox">
                <h1 class="title">My Skills</h1>
              <div class="SkillBar">
                <div id="Skill-HTML"> 
                  <span class="Skill-Area ">HTML</span>
                  <span class="PercentText ">100%</span>
                </div>
              </div>
              
              <div class="SkillBar">
                <div id="Skill-CSS">
                  <span class="Skill-Area ">CSS/CSS3</span>
                  <span class="PercentText ">95%</span>
                </div>
              </div>
            
              <div class="SkillBar">
                <div id="Skill-JS">
                  <span class="Skill-Area ">Javascript</span>
                  <span class="PercentText ">85%</span>
                </div>
              </div>

              <!-- <div class="SkillBar">
                <div id="Skill-jQuery">
                  <span class="Skill-Area ">jQuery</span>
                  <span class="PercentText ">40%</span>
                </div>
              </div>
              
              
              
              <div class="SkillBar">
                <div id="Skill-XML">
                  <span class="Skill-Area ">XML </span>
                  <span class="PercentText ">40%</span>
                </div>
              </div> -->
              
                <div class="SkillBar">
                <div id="Skill-C">
                  <span class="Skill-Area ">C</span>
                  <span class="PercentText ">50%</span>
                </div>
              </div>
              
                <div class="SkillBar">
                <div id="Skill-Python">
                  <span class="Skill-Area ">Python </span>
                  <span class="PercentText ">40%</span>
                </div>
              </div>
              
                <div class="SkillBar">
                <div id="Skill-Django">
                  <span class="Skill-Area ">Django</span>
                  <span class="PercentText ">85%</span>
                </div>
              </div>
              
                <div class="SkillBar">
                <div id="Skill-SQL">
                  <span class="Skill-Area ">SQLite </span>
                  <span class="PercentText ">80%</span>
                </div>
              </div>
              
                <div class="SkillBar">
                <div id="Skill-Bootstrap">
                  <span class="Skill-Area ">Bootstrap</span>
                  <span class="PercentText ">95%</span>
                </div>
              </div>
              
            </div>
            


</div>





{% endblock %}